*.ihx
*.map
*.rel
*.lst
*.hex
*.o

omdazz/db/*.*
omdazz/html/*.*
omdazz/incremental_db
omdazz/simulation

omdazz-swt/db/*.*
omdazz-swt/html/*.*
omdazz-swt/incremental_db
omdazz-swt/simulation

omdazz-vga/db/*.*
omdazz-vga/html/*.*
omdazz-vga/incremental_db
omdazz-vga/simulation


